.page {
  max-width: 192rem;
  margin: 0 auto;
  &__wrapper {
    width: 100%;
  }

  &__header {
    width: 100%;
  }
}

.with-sidebar {
  padding: 0px 40px;
}

.page-content {
  display: flex;
  width: 100%;
}
