.button {
  font-size: 1.4rem;
  width: auto;
  min-width: 15rem;
  outline: none;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 1.6rem;
  color: #fff;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropContent {
  width: 100%;
  display: flex;
}

.dropBtn {
  outline: none;
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
}
