@import '../../layout/vars';

$dot-size: 0.4rem;

.header {
  font-size: 1.4rem;
  position: relative;
  height: $headerHeight;

  &__wrapper {
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
  }

  &__button {
    flex: 0 0 100%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #fff;
    outline: 0;
    cursor: pointer;
  }

  &__link:link,
  &__link:visited {
    color: inherit;
    text-transform: uppercase;
    transition: all 0.3s;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
  }

  &__link:hover,
  &__link:active {
    border-bottom-color: currentColor;
  }

  &__logo-box {
  }

  &__logo {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    outline: none;
  }

  &__rate {
    flex: 1;
    max-width: 130px;
    margin: 0 1.5rem;
    display: flex;
    white-space: nowrap;
  }

  &__search-box {
    flex: 1 1;
  }

  &__search-input {
    font-size: 1.6rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIG9wYWNpdHk9Jy40JyB3aWR0aD0nMzEnIGhlaWdodD0nMzEnIHZpZXdCb3g9JzAgMCAxNCAxNCc+PHBhdGggZmlsbD0nI0ZGRicgZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNOS4yMDIgMy4wMjZhNC4zNjcgNC4zNjcgMCAxMC02LjE3NiA2LjE3NiA0LjM2NyA0LjM2NyAwIDEwNi4xNzYtNi4xNzZtNC41NDMgMTAuNzE5YS44NzUuODc1IDAgMDEtMS4yMzYgMGwtMi43NTEtMi43NTJjLTIuMzk1IDEuNzktNS43OTEgMS42MjEtNy45NjctLjU1NWE2LjExMyA2LjExMyAwIDAxMC04LjY0NyA2LjExMyA2LjExMyAwIDAxOC42NDcgMGMyLjE3NiAyLjE3NiAyLjM0NiA1LjU3Mi41NTUgNy45NjdsMi43NTIgMi43NTFjLjM0LjM0MS4zNC44OTQgMCAxLjIzNicvPjwvc3ZnPg==);
    background-position: 1.6rem;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    outline: none;
    border-radius: 2.4rem;
    padding: 1rem 1.5rem 1rem 4.5rem;
    line-height: 1.4;
    border: none;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.16);
    color: hsla(0, 0%, 100%, 0.5);
    transition: 0.3s ease;

    &:hover,
    &:focus {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNCcgaGVpZ2h0PScxNCcgdmlld0JveD0nMCAwIDE0IDE0Jz48cGF0aCBmaWxsLXJ1bGU9J2V2ZW5vZGQnIGQ9J005LjIwMiAzLjAyNmE0LjM2NyA0LjM2NyAwIDEwLTYuMTc2IDYuMTc2IDQuMzY3IDQuMzY3IDAgMTA2LjE3Ni02LjE3Nm00LjU0MyAxMC43MTlhLjg3NS44NzUgMCAwMS0xLjIzNiAwbC0yLjc1MS0yLjc1MmMtMi4zOTUgMS43OS01Ljc5MSAxLjYyMS03Ljk2Ny0uNTU1YTYuMTEzIDYuMTEzIDAgMDEwLTguNjQ3IDYuMTEzIDYuMTEzIDAgMDE4LjY0NyAwYzIuMTc2IDIuMTc2IDIuMzQ2IDUuNTcyLjU1NSA3Ljk2N2wyLjc1MiAyLjc1MWMuMzQuMzQxLjM0Ljg5NCAwIDEuMjM2Jy8+PC9zdmc+);
      background-color: hsla(0, 0%, 100%, 1);
      color: #241f1f;
    }
  }

  &__cta {
    font-weight: 600;
    font-size: 1.4rem;
    flex: 0 0 16%;
    padding: 0 2.5rem;
    width: 14%;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link:not(:first-child) {
    margin-left: 5px;
  }

  &__dotted-container {
    margin-right: -3rem;
    position: relative;
    width: 20%;
    padding: 1rem 0.1rem;
    display: flex;
    cursor: pointer;
  }

  &__dotted {
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-self: stretch;
    display: flex;
    border: none;
    align-items: center;
    height: $dot-size;
    width: $dot-size;
  }

  &__dotted::before,
  &__dotted::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: #fff;
  }

  &__dotted::before {
    left: 1rem;
  }
  &__dotted::after {
    right: 1rem;
  }

  &__link {
    white-space: nowrap;
  }
}
