.load-more {
  border: none;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba($color: #fff, $alpha: 0.3);
  outline: none;
}
